body {
    background-color: #ffffff;
    margin: 0;
    max-width: 270px;
}

.label {
    padding: 20px 0 10px 0;
    text-align: center;
    background-color: #0cc9f5;
    color: #ffffff;
}

.btn-group {
    text-align: center;
    background-color: #0cc9f5;
    padding: 0  0 17px 0;
}

.btn {
    width: 60px;
    height: 30px;
    border: none;
    margin: 7px;
    background-color: rgb(24, 45, 64);
    color: #ffffff;
    border-radius: 20px;
}

.btn:hover {
    background-color: rgb(255, 190, 0);
    cursor: pointer;
}

.active {
    background-color: rgb(255, 190, 0);
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: small;
    color: rgb(20, 21, 23)
}

.li-title {
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    padding: 7px;
}

.li-content {
    padding: 10px 30px;
    text-align: center;
}

.footer {
    background-color: rgb(255, 190, 0);
    text-align: center;
    font-size: x-small;
    padding: 5px;
    color: white;
}
