.label {
    padding: 10px;
    text-align: center;
}

.button {
    width: 60px;
    height: 30px;
    border: none;
    margin: 10px;
}

.button:hover {
    background-color: powderblue;
    cursor: pointer;
}

.active {
    background-color: lightcoral;
}